/* 全局样式 */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.action-button {
  margin-left: 8px;
} 